* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #080b12;
    color: white;
    font-family: Arial, sans-serif;

    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 15px;
}

h1 {
    font-size: 42px;
    letter-spacing: 3px;
}

canvas {
    background: #111827;

    border: 3px solid #374151;
    border-radius: 12px;

    box-shadow:
        0 0 20px rgba(0, 255, 100, 0.15),
        0 0 60px rgba(0, 255, 100, 0.05);
}

#score {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
}